Florid/Florid.Core/obj/
Florid/Florid.Core/bin/
Florid/.vs/
Florid/Florid.Staff.Droid/obj/
Florid/Florid.Staff.Droid/bin/
Florid/Florid.Droid.Lib/obj/
Florid/Florid.Droid.Lib/bin/
Florid/packages/
Florid/Florid.Schema/obj/
Florid/Florid.Schema/bin/
floriday-staff/node_modules/
floriday-staff/dist/
Florid/Florid.Droid.Lib/Florid.Droid.Common/obj
Florid/Florid.Schema/bin/
FloridCrawler/packages/
FloridCrawler/FloridCrawler/bin/
FloridCrawler/FloridCrawler/obj/
Florid/Florid.Schema/bin
Florid/PrintDemo/.gradle/
Florid/PrintDemo/.idea/
Florid/PrintDemo/app/build/
Florid/Florid.PosPrinter.Lib/obj/
PrintDemo/.idea/
Florid/Florid.PosPrinter.Lib/bin/
Floridstaff/posprinterlib-release/build
Florid/Florid.Droid.Secure.Lib/bin/
Florid/Florid.Droid.Secure.Lib/obj/
Florid/Florid.Schema/bin/
Florid/Florid.Schema/obj/
Florid/Florid.Droid.Htl2BitmapLib/obj/
Florid/Florid.Droid.Htl2BitmapLib/bin/
Florid/Florid.Schema/bin/
Florid/Florid.Staff.Ios/bin/
Florid/Florid.Staff.Ios/bin/
Florid/Florid.Staff.Ios/obj/
Florid/Florid.Schema/bin/
Florid/Florid.Schema/bin
DownloadImage/packages/
DownloadImage/obj/

DownloadImage/bin/
Florid/Florid.Schema/bin/

Florid/Florid.Staff.Ios/bin/
floridday-client/dist/
