Florid/Florid.Core/obj/
Florid/Florid.Core/bin/
Florid/.vs/
Florid/Florid.Staff.Droid/obj/
Florid/Florid.Staff.Droid/bin/
Florid/Florid.Droid.Lib/obj/
Florid/Florid.Droid.Lib/bin/
Florid/packages/
Florid/Florid.Schema/obj/
Florid/Florid.Schema/bin/
floriday-staff/node_modules/
floriday-staff/dist/
Florid/Florid.Droid.Lib/Florid.Droid.Common/obj
Florid/Florid.Schema/bin/
FloridCrawler/packages/
FloridCrawler/FloridCrawler/bin/
FloridCrawler/FloridCrawler/obj/
Florid/Florid.Schema/bin
