<div class="page-content" id="orderList">
    <div class="container">
        <ul class="nav nav-tabs row" id="listNav" role="tablist">
            <li class="nav-item col-6">
                <a class="active main-bg" id="nav1" data-toggle="tab" href="#camhoa" role="tab" aria-controls="camhoa"
                    aria-selected="true">Cắm hoa</a>
            </li>
            <li class="nav-item col-6">
                <a class="main-bg" id="nav2" data-toggle="tab" href="#giaohoa" role="tab" aria-controls="giaohoa"
                    aria-selected="false">Giao hoa</a>
            </li>
        </ul>
        <div class="tab-content order-list-bot" id="listContent">
            <div class="tab-pane fade show active" id="camhoa" role="tabpanel" aria-labelledby="nav1">
                <ul class="order-content cusScroll" cdkDropList (cdkDropListDropped)="dropMakingList($event)">
                    <div *ngFor="let makDetail of makingOrderDetails; let i = index" cdkDrag cdkDragStartDelay="500"
                        class="order-content-item product-item">
                        <div class="item-top">
                            <span class="item-code">{{makDetail.OrderId}}_{{makDetail.Index+1}}</span>
                            <div class="item-info">
                                <h4 class="item-name">{{makDetail.ProductName}}</h4>
                                <span
                                    class="item-quantity">{{makDetail.CustomerName}}-{{makDetail.CustomerPhoneNumber}}</span>
                            </div>
                            <app-status-point [state]="makDetail.State" [id]="makDetail.OrderDetailId"
                                [index]="makDetail.MakingSortOrder">

                            </app-status-point>
                        </div>
                        <div class="item-bot">
                            <ul class="order-product-list cusScroll">
                                <li class="">
                                    <div class="changeOrder">
                                        <button class="inOrder navOrder"
                                            (click)="move(makDetail.State,i,true)">tăng</button>
                                        <button class="deOrder navOrder"
                                            (click)="move(makDetail.State,i,false)">giảm</button>
                                    </div>
                                    <div class="item-detail" (click)="viewDetail(makDetail)">
                                        <img [src]="makDetail.ProductImageUrl" alt="" class="item-detail-thumb">
                                        <div class="item-detail-info">
                                            <span
                                                class="prodPriceOld">{{makDetail.OriginalPrice| currency:'VND':'symbol-narrow':'':'vi-VN'}}</span>
                                            <span
                                                class="prodCharge">{{makDetail.AdditionalFee| currency:'VND':'symbol-narrow':'':'vi-VN'}}</span>
                                            <span
                                                class="prodPrice">{{makDetail.ModifiedPrice| currency:'VND':'symbol-narrow':'':'vi-VN'}}</span>
                                            <span class="item-address">{{makDetail.DeliveryInfo.Address}}</span>
                                            <span
                                                class="item-time">{{makDetail.DeliveryInfo.DateTime | date: 'hh:mm a'}}
                                            </span>
                                            <span class="item-date">
                                                {{makDetail.DeliveryInfo.DateTime | date: 'dd/MM/yyyy'}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="tab-pane fade" id="giaohoa" role="tabpanel" aria-labelledby="nav2">
                <ul class="order-content cusScroll" cdkDropList (cdkDropListDropped)="dropShippingList($event)">
                    <div *ngFor="let shipDetail of shippingOrderDetails; let j = index" cdkDrag cdkDragStartDelay="500"
                        class="order-content-item product-item">
                        <div class="item-top">
                            <span class="item-code">{{shipDetail.OrderId}}_{{shipDetail.Index+1}}</span>
                            <div class="item-info">
                                <h4 class="item-name">{{shipDetail.ProductName}}</h4>
                                <span
                                    class="item-quantity">{{shipDetail.CustomerName}}-{{shipDetail.CustomerPhoneNumber}}</span>
                            </div>
                            <app-status-point [state]="shipDetail.State" [id]="shipDetail.OrderDetailId"
                                [index]="shipDetail.ShippingSortOrder">

                            </app-status-point>
                        </div>
                        <div class="item-bot">
                            <ul class="order-product-list cusScroll">
                                <li class="">
                                    <div class="changeOrder">
                                        <button class="inOrder navOrder"
                                            (click)="move(shipDetail.State,j,true)">tăng</button>
                                        <button class="deOrder navOrder"
                                            (click)="move(shipDetail.State,j,false)">giảm</button>
                                    </div>
                                    <div class="item-detail" (click)="viewDetail(shipDetail)">
                                        <img [src]="shipDetail.ProductImageUrl" alt="" class="item-detail-thumb">
                                        <div class="item-detail-info">
                                            <span
                                                class="prodPriceOld">{{shipDetail.OriginalPrice| currency:'VND':'symbol-narrow':'':'vi-VN'}}</span>
                                            <span
                                                class="prodCharge">{{shipDetail.AdditionalFee| currency:'VND':'symbol-narrow':'':'vi-VN'}}</span>
                                            <span
                                                class="prodPrice">{{shipDetail.ModifiedPrice| currency:'VND':'symbol-narrow':'':'vi-VN'}}</span>
                                            <span class="item-address">{{shipDetail.DeliveryInfo.Address}}</span>
                                            <span
                                                class="item-time">{{shipDetail.DeliveryInfo.DateTime | date: 'hh:mm a'}}</span>
                                            <span
                                                class="item-date">{{shipDetail.DeliveryInfo.DateTime | date: 'dd/MM/yyyy'}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>