<div class="page-content" id="orderList">
    <div class="container">
        <ul class="nav nav-tabs row" id="listNav" role="tablist">
            <li class="nav-item col-6">
                <a class="active main-bg" id="nav1" data-toggle="tab" href="#camhoa" role="tab" aria-controls="camhoa"
                    aria-selected="true">Cắm hoa</a>
            </li>
            <li class="nav-item col-6">
                <a class="main-bg" id="nav2" data-toggle="tab" href="#giaohoa" role="tab" aria-controls="giaohoa"
                    aria-selected="false">Giao hoa</a>
            </li>
        </ul>
        <div class="tab-content order-list-bot" id="listContent">
            <div class="tab-pane fade show active" id="camhoa" role="tabpanel" aria-labelledby="nav1">
                <ul class="order-content cusScroll">
                    <div class="order-content-item product-item">
                        <div class="item-top">
                            <span class="item-code">756-01</span>
                            <div class="item-info">
                                <h4 class="item-name">Mã SP</h4>
                                <span class="item-quantity">Số lượng: 1</span>
                            </div>
                            <div class="item-status r" onclick="openOrdChange()"><span>1</span></div>
                        </div>
                        <div class="item-bot">
                            <ul class="order-product-list cusScroll">
                                <li class="">
                                    <div class="changeOrder">
                                        <button class="inOrder navOrder">tăng</button>
                                        <button class="deOrder navOrder">giảm</button>
                                    </div>
                                    <div class="item-detail">
                                        <a href="./chi-tiet.html" class="absLink"></a>
                                        <img src="../../../assets/images/product-img.jpg" alt=""
                                            class="item-detail-thumb">
                                        <div class="item-detail-info">
                                            <span class="prodPriceOld">222.000 vnđ</span>
                                            <span class="prodCharge">Phụ phí: 10%</span>
                                            <span class="prodPrice">200.000 vnđ</span>
                                            <span class="item-address">248 Phan Văn Trị, P.12, Q. Bình Thạnh, TP. Hồ Chí
                                                Minh</span>
                                            <span class="item-time">17:30</span> <span
                                                class="item-date">12/02/2020</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="order-content-item product-item">
                        <div class="item-top">
                            <span class="item-code">756-01</span>
                            <div class="item-info">
                                <h4 class="item-name">Mã SP</h4>
                                <span class="item-quantity">Số lượng: 1</span>
                            </div>
                            <div class="item-status r" onclick="openOrdChange()"><span>1</span></div>
                        </div>
                        <div class="item-bot">
                            <ul class="order-product-list cusScroll">
                                <li class="">
                                    <div class="changeOrder">
                                        <button class="inOrder navOrder">tăng</button>
                                        <button class="deOrder navOrder">giảm</button>
                                    </div>
                                    <div class="item-detail">
                                        <a href="./chi-tiet.html" class="absLink"></a>
                                        <img src="../../../assets/images/product-img.jpg" alt=""
                                            class="item-detail-thumb">
                                        <div class="item-detail-info">
                                            <span class="prodPriceOld">222.000 vnđ</span>
                                            <span class="prodCharge">Phụ phí: 10%</span>
                                            <span class="prodPrice">200.000 vnđ</span>
                                            <span class="item-address">248 Phan Văn Trị, P.12, Q. Bình Thạnh, TP. Hồ Chí
                                                Minh</span>
                                            <span class="item-time">17:30</span> <span
                                                class="item-date">12/02/2020</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="order-content-item product-item">
                        <div class="item-top">
                            <span class="item-code">756-01</span>
                            <div class="item-info">
                                <h4 class="item-name">Mã SP</h4>
                                <span class="item-quantity">Số lượng: 1</span>
                            </div>
                            <div class="item-status r" onclick="openOrdChange()"><span>1</span></div>
                        </div>
                        <div class="item-bot">
                            <ul class="order-product-list cusScroll">
                                <li class="">
                                    <div class="changeOrder">
                                        <button class="inOrder navOrder">tăng</button>
                                        <button class="deOrder navOrder">giảm</button>
                                    </div>
                                    <div class="item-detail">
                                        <a href="./chi-tiet.html" class="absLink"></a>
                                        <img src="../../../assets/images/product-img.jpg" alt=""
                                            class="item-detail-thumb">
                                        <div class="item-detail-info">
                                            <span class="prodPriceOld">222.000 vnđ</span>
                                            <span class="prodCharge">Phụ phí: 10%</span>
                                            <span class="prodPrice">200.000 vnđ</span>
                                            <span class="item-address">248 Phan Văn Trị, P.12, Q. Bình Thạnh, TP. Hồ Chí
                                                Minh</span>
                                            <span class="item-time">17:30</span> <span
                                                class="item-date">12/02/2020</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="tab-pane fade" id="giaohoa" role="tabpanel" aria-labelledby="nav2">
                <ul class="order-content cusScroll">
                    <div class="order-content-item product-item">
                        <div class="item-top">
                            <span class="item-code">756-01</span>
                            <div class="item-info">
                                <h4 class="item-name">Mã SP</h4>
                                <span class="item-quantity">Số lượng: 1</span>
                            </div>
                            <div class="item-status r" onclick="openOrdChange()"><span>1</span></div>
                        </div>
                        <div class="item-bot">
                            <ul class="order-product-list cusScroll">
                                <li class="">
                                    <div class="changeOrder">
                                        <button class="inOrder navOrder">tăng</button>
                                        <button class="deOrder navOrder">giảm</button>
                                    </div>
                                    <div class="item-detail">
                                        <a href="./chi-tiet.html" class="absLink"></a>
                                        <img src="../../../assets/images/product-img.jpg" alt=""
                                            class="item-detail-thumb">
                                        <div class="item-detail-info">
                                            <span class="prodPriceOld">222.000 vnđ</span>
                                            <span class="prodCharge">Phụ phí: 10%</span>
                                            <span class="prodPrice">200.000 vnđ</span>
                                            <span class="item-address">248 Phan Văn Trị, P.12, Q. Bình Thạnh, TP. Hồ Chí
                                                Minh</span>
                                            <span class="item-time">17:30</span> <span
                                                class="item-date">12/02/2020</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>