<div class="page-content" id="home">
    <div class="container logo">
        <div class="row">
            <div class="col-6 mx-auto">
                <a><img src="../../../assets/images/logo.png" alt="Florid - Update Your Day" class="mw-100"></a>
            </div>
        </div>
    </div>
    <nav class="main-menu">
        <div class="main-menu-item">
            <a routerLink="/orders-manager">
                <img src="../../../assets/images/cart.svg" alt="nhân viên"><span>Đơn hàng</span>
            </a>
        </div>
        <div class="main-menu-item">
            <a (click)="getUsers()">
                <img src="../../../assets/images/gradient 1.svg" alt="nhân viên"><span>Nhân viên</span>
            </a>
        </div>
        <div class="main-menu-item">
            <a href="#">
                <img src="../../../assets/images/shipping.svg" alt="giao hàng"><span>Giao hàng</span>
            </a>
        </div>
        <div class="main-menu-item">
            <a href="#">
                <img src="../../../assets/images/customer.svg" alt="khách hàng"><span>Khách hàng</span>
            </a>
        </div>
        <div class="main-menu-item">
            <a href="#">
                <img src="../../../assets/images/product.svg" alt="sản phẩm"><span>Sản phẩm</span>
            </a>
        </div>
        <div class="main-menu-item">
            <a href="#">
                <img src="../../../assets/images/arrange.svg" alt="cắm hoa"><span>Cắm hoa</span>
            </a>
        </div>
    </nav>
</div>
<!-- Click vào button để hiển thị canvas menu -->
<div class="customer-support">
    <img src="../../../assets/images/support-team.png" alt="" class="customer-avatar">
    <p class="customer-name">Mai văn bá</p>
    <a class="customer-phone" href="tel:0000">0909 696 969</a>
    <p class="customer-position">Chăm sóc khách hàng</p>
    <p class="customer-position" id="logoutBtn" (click)="logout()">Đăng xuất</p>
</div>