<div class="page-content" id="checkOut">
    <div class="container">
        <div class="checkOut">
            <div class="checkOutTotal">
                <h3>Tổng số tiền thanh toán</h3>
                <p>{{order.TotalAmount | currency:'VND':'symbol-narrow':'':'vi-VN'}}</p>
            </div>
            <div class="checkOutLeft">
                <h4>Số tiền còn lại</h4>
                <p>{{order.TotalAmount - order.TotalPaidAmount | currency:'VND':'symbol-narrow':'':'vi-VN'}}</p>
            </div>
            <form class="checkOutMethod">
                <div class="form-group">
                    <input type="number" name="inputAmount" id="inputAmount" [(ngModel)]="inputAmount" class="mainForm"
                        placeholder="Số tiền thanh toán...">
                </div>
                <div class="form-group methodGrid">
                    <a href="javascript:void(0)" (click)="momoPurchase()" class="methodItem"><img
                            src="../../../assets/images/momo.jpg" alt=""></a>
                    <a href="javascript:void(0)" onclick="openQR()" class="methodItem"><img
                            src="../../../assets/images/moca.jpg" alt=""></a>
                    <a href="javascript:void(0)" onclick="openQR()" class="methodItem"><img
                            src="../../../assets/images/zalo.jpg" alt=""></a>
                    <a href="javascript:void(0)" onclick="openQR()" class="methodItem"><img
                            src="../../../assets/images/viettel.jpg" alt=""></a>
                </div>
                <div class="row">
                    <div class="col-8 mx-auto text-center">
                        <button type="submit" class="btn main-btn w-100">Xác nhận</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="codeQR" class="popup-content">
    <span>Quét mã QR</span>
    <qrcode [qrdata]="qrCodeData" [width]="256" [elementType]="'url'" [errorCorrectionLevel]="'M'" [cssClass]="''">
    </qrcode>
</div>