<div class="listWrap">
    <!-- Top of List Component -->
    <div class="listHeader">
        <div class="row listAddNew">
            <div class="col-xs-12 col-md-2">
                <button class="btn btn-outline-info d-block w-100" onclick="showAddNew('product')" role="button">Thêm
                    Mới</button>
            </div>
        </div>
        <div class="row listOptions">
            <div class="col-md-2 col-xs-12  optionDelete">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue">
                    <button type="button" class="btn btn-outline-danger"><i class="fa fa-remove"></i> Xóa</button>
                </div>
            </div>
            <div class="col-md-4 col-xs-12  optionSearch">
                <div class="form-group">
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Tìm kiếm...">
                    <button type="submit" class="btn btn-info position-absolute "><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-md-2 col-xs-12  cateFilter">
                <div class="form-group">
                    <select class="form-control d-inline" [(ngModel)]="selectedCategory" name="selectedCategory" id="">
                        <option *ngFor="let category of categories" [ngValue]="category.Value">{{category.Name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-xs-12  text-right optionPerPage">
                <div class="form-group">
                    <label>Hiển thị </label>
                    <select class="form-control w-25 d-inline" [(ngModel)]="itemPerpage" name="itemPerpage" id="">
                        <option [ngValue]="10"> 10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="60">60</option>
                    </select>
                    <label> dòng / <strong>{{itemTotalCount}} dòng</strong></label>
                </div>
            </div>
        </div>
    </div>
    <!-- Content of List Component -->
    <div class="listContent">
        <table class="table table-bordered table-hover table-responsive-xl">
            <thead class="table-info">
                <tr>
                    <th scope="col" style="width: 5%">STT</th>
                    <th scope="col">Hình ảnh</th>
                    <th scope="col">Mã Sản phẩm</th>
                    <th scope="col">Giá gốc</th>
                    <th scope="col">Loại Sản phẩm</th>
                    <th scope="col" style="width:15%">Tag</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td scope="row">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue">
                                {{product.Index}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <img [src]="product.ImageUrl" alt="" class="productImg">
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="tdName"
                            onclick="showProductEdit(event)">{{product.Name}}</a>
                    </td>
                    <td>{{product.Price}}</td>
                    <td>
                        {{product.ProductCategories}}
                    </td>
                    <td>
                        <span *ngFo="let tag of product.Tags"
                            class="badge badge-pill badge-success d-inline-block p-1 mb-1">{{tag.TagAlias}}</span>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-info" onclick="showProductEdit(event)"><i
                                    class="fa fa-pencil"></i> Sửa</button>
                            <button type="button" class="btn btn-outline-danger"><i class="fa fa-remove"></i>
                                Xóa</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Content of List Component -->
    <app-page-segment [pageCount]="pageCount" (pageChanged)="pageChanged($event)">

    </app-page-segment>
</div>