<div class="listWrap">
    <div class="listHeader">
        <div class="row listAddNew">
            <div class="col-xs-12 col-md-2">
                <button class="btn btn-outline-info d-block w-100" onclick="showAddNew('product')" role="button">Thêm
                    Mới</button>
            </div>
        </div>
        <div class="row listOptions">
            <div class="col-md-2 col-xs-12  optionDelete">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue">
                    <button type="button" class="btn btn-outline-danger"><i class="fa fa-remove"></i> Xóa</button>
                </div>
            </div>
            <div class="col-md-4 col-xs-12  optionSearch">
                <div class="form-group">
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Tìm kiếm...">
                    <button type="submit" class="btn btn-info position-absolute "><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-md-2 col-xs-12  cateFilter">
                <div class="button-group">
                    <button type="button" class="btn btn-outline-info w-100 dropdown-toggle"
                        data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret">Danh
                            mục</span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox" />Giỏ
                                Hoa Tươi</a></li>
                        <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox" />Kệ Hoa
                                Tươi</a></li>
                        <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox" />Bó Hoa
                                Tươi</a></li>
                        <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox" />Hoa Sự
                                Kiện</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-xs-12  text-right optionPerPage">
                <div class="form-group">
                    <label>Hiển thị </label>
                    <select class="form-control w-25 d-inline" name="" id="">
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                    </select>
                    <label> dòng / <strong>{{itemTotalCount}} dòng</strong></label>
                </div>
            </div>
        </div>
    </div>
    <!-- Content of List Component -->
    <div class="listContent">
        <table class="table table-bordered table-hover table-responsive-xl">
            <thead class="table-info">
                <tr>
                    <th scope="col" style="width: 5%">STT</th>
                    <th scope="col">Mã Sản phẩm</th>
                    <th scope="col">Giá gốc</th>
                    <th scope="col" style="width: 15%">Mô tả</th>
                    <th scope="col" style="width: 20%;">Hình ảnh</th>
                    <th scope="col">Loại Sản phẩm</th>
                    <th scope="col" style="width:15%">Tag</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td scope="row">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue">
                                {{product.Index}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="tdName"
                            onclick="showProductEdit(event)">{{product.Name}}</a>
                    </td>
                    <td>{{product.Price}}</td>
                    <td>{{product.Description}}</td>
                    <td>
                        <img style="height: 100px;" [src]="product.ImageUrl" />
                    </td>
                    <td>
                        {{product.ProductCategories}}
                    </td>
                    <td>
                        <span *ngFo="let tag of product.Tags"
                            class="badge badge-pill badge-success d-inline-block p-1 mb-1">{{tag.TagAlias}}</span>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-info" onclick="showProductEdit(event)"><i
                                    class="fa fa-pencil"></i> Sửa</button>
                            <button type="button" class="btn btn-outline-danger"><i class="fa fa-remove"></i>
                                Xóa</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Bottom of List Component -->
    <app-page-segment [pageCount]="pageCount" (pageChanged)="pageChanged($event)">

    </app-page-segment>
</div>