<div class="page-content" id="confirm">
    <div class="container">
        <div class="row custBrow">
            <div class="col-9 custList pr-0">
                <a routerLink="/select-customer" class="main-bg custListButton"><img
                        src="../../../assets/images/cust.png" alt=""><span>{{order.CustomerInfo.Name}}
                        (-{{order.CustomerInfo.DiscountPercent}}%)</span></a>
            </div>
            <div class="col-3 prodAdd text-right">
                <a [routerLink]="['/order-detail', -1]" class="main-bg"><img src="../../../assets/images/add.svg" alt=""
                        class="main-filter"></a>
            </div>
        </div>
        <ul class=" orderDetail cusScroll">
            <li *ngFor="let orderDetail of order.OrderDetails" class="orderDetailItem">
                <div class="itemNumb"><span>{{orderDetail.Index}}</span></div>
                <div class="itemDetail">
                    <img src="{{orderDetail.ProductUrl}}" alt="" class="item-detail-thumb">
                    <div class="item-detail-info">
                        <h5 class="item-code">{{orderDetail.ProductName}}</h5>
                        <span class="prodPriceOld">{{orderDetail.OriginalPrice}} vnđ</span>
                        <span class="prodCharge">Phụ phí: {{orderDetail.AdditionalFee}} vnđ</span>
                        <span class="prodPrice">{{orderDetail.ModifiedPrice}} vnđ</span>
                    </div>
                </div>
                <div class="itemAction">
                    <a href="javascript:void(0)"><img src="../../../assets/images/delete.svg" alt=""
                            class="white-filter"></a>
                    <a [routerLink]="['/order-detail', orderDetail.Index]"><img src="../../../assets/images/edit.svg"
                            alt="" class="white-filter"></a>
                </div>
            </li>
        </ul>
        <div class="vatStatus">
            <p>Bao gồm VAT</p>
            <div class="vatScope">
                <input type="checkbox" id="vatInclude" name="vatInclude" value="1" checked><span
                    class="main-bg vatCustom"></span>
            </div>
        </div>
        <div class="orderTotal">
            <p class="totalOld">Còn lại: <span
                    class="orderPrice">{{order.TotalAmount - order.TotalPaidAmount}}vnđ</span></p>
            <p class="totalNew">Thành tiền: <span class="orderPrice">{{order.TotalAmount}}vnđ</span></p>
        </div>
        <div class="row orderConfirm">
            <div class="col-8 mx-auto text-center">
                <a href="./thanh-toan.html" type="submit" class="btn main-btn w-100">Thanh toán</a>
                <span>Xác nhận thanh toán</span>
            </div>
        </div>
    </div>
</div>