<div class="home">
    <div class="wrapper">
        <div id="home">
            <div class="breadcrumb">
                <a class="nav-icon">Menu</a>
                <!-- Click vào button để hiển thị canvas menu -->
                <div class="customer-support">
                    <img src="./assets/images/support-team.png" alt="" class="customer-avatar">
                    <p class="customer-name">Mai văn bá</p>
                    <a class="customer-phone" href="tel:0000">0909 696 969</a>
                    <p class="customer-position">Chăm sóc khách hàng</p>
                </div>
            </div>
            <div class="page-content">
                <div class="container logo">
                    <div class="row">
                        <div class="col-6 mx-auto">
                            <a href="./home.html"><img src="./assets/images/logo.png" alt="Florid - Update Your Day"
                                    class="mw-100"></a>
                        </div>
                    </div>
                </div>
                <nav class="main-menu">
                    <div class="main-menu-item">
                        <a (click)="logout()">
                            <img src="./assets/images/cart-icon.png" alt="đơn hàng"><span>Đơn hàng</span>
                        </a>
                    </div>
                    <div class="main-menu-item">
                        <a href="#">
                            <img src="./assets/images/employee.png" alt="nhân viên"><span>Nhân viên</span>
                        </a>
                    </div>
                    <div class="main-menu-item">
                        <a href="#">
                            <img src="./assets/images/shipping.png" alt="giao hàng"><span>Giao hàng</span>
                        </a>
                    </div>
                    <div class="main-menu-item">
                        <a href="#">
                            <img src="./assets/images/customer.png" alt="khách hàng"><span>Khách hàng</span>
                        </a>
                    </div>
                    <div class="main-menu-item">
                        <a href="#">
                            <img src="./assets/images/product-icon.png" alt="sản phẩm"><span>Sản phẩm</span>
                        </a>
                    </div>
                    <div class="main-menu-item">
                        <a href="#">
                            <img src="./assets/images/arrange.png" alt="cắm hoa"><span>Cắm hoa</span>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>