<div class="listWrap">
  <!-- Top of List Component -->
  <div class="listHeader">
    <div class="row listAddNew">
      <div class="col-xs-12 col-md-2">
        <button class="btn btn-outline-info d-block w-100" onclick="showAddNew('tag')" role="button">Thêm Mới</button>
      </div>
    </div>
    <div class="row listOptions">
      <div class="col-md-2 col-xs-12  optionDelete">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="" id="" (change)="checkAllChange(!isSelectAll)"
            value="checkedValue">
          <button type="button" class="btn btn-outline-danger" (click)="deleteTags()"><i class="fa fa-remove"></i>
            Xóa</button>
        </div>
      </div>
      <div class="col-md-6 col-xs-12  optionSearch">
        <div class="form-group">
          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Tìm kiếm...">
          <button type="submit" class="btn btn-info position-absolute "><i class="fa fa-search"></i></button>
        </div>

      </div>
      <div class="col-md-4 col-xs-12  text-right optionPerPage">
        <div class="form-group">
          <label>Hiển thị </label>
          <select class="form-control w-25 d-inline" [(ngModel)]="itemPerpage" name="itemPerpage" id="">
            <option [ngValue]="10"> 10</option>
            <option [ngValue]="20">20</option>
            <option [ngValue]="40">40</option>
            <option [ngValue]="60">60</option>
          </select>
          <label> dòng / <strong>{{itemTotalCount}} dòng</strong></label>
        </div>
      </div>
    </div>
  </div>
  <!-- Content of List Component -->
  <div class="listContent">
    <table class="table table-bordered table-hover table-responsive-xl">
      <thead class="table-info">
        <tr>
          <th scope="col" style="width: 5%">STT</th>
          <th scope="col">Tên hiển thị</th>
          <th scope="col">Giá trị</th>
          <th scope="col" style="width:50%">Mô tả</th>
          <th scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tag of tags">
          <td scope="row">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="" id="" [(ngModel)]="tag.IsChecked"
                  value="checkedValue">
                {{tag.Tag.Index}}
              </label>
            </div>
          </td>
          <td>
            <a href="javascript:void(0)" class="tdName" onclick="showTagEdit(event)">{{tag.Tag.Name}}</a>
          </td>
          <td>{{tag.Tag.Id}}</td>
          <td>{{tag.Tag.Description}}
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-outline-info" onclick="showTagEdit(event)"><i
                  class="fa fa-pencil"></i> Sửa</button>
              <button type="button" (click)="deleteTag(tag.Tag)" class="btn btn-outline-danger"><i
                  class="fa fa-remove"></i>
                Xóa</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Bottom of List Component -->
  <app-page-segment [pageCount]="pageCount" (pageChanged)="pageChanged($event)">

  </app-page-segment>
</div>